.header01 {
	padding: 10px;
	background: #FFF;
}
.theFooter {
    border-top: 1px solid #EAEAEA;
    position: absolute;
    text-align: left;
    padding: 2% 15%;
    background: #FFF;
    font-size: 13px;
    width: 100%;
    box-sizing: border-box;
}